.container_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('images/coverpix.jpg');
}
.container_div>h1{
    color: white;
    font-family: 'Roboto',sans-serif;
}
.wrapper_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 70%;
    background-color: white;
}

.wrapper_div>h2{
    font-family: 'Merienda', cursive;
    margin: 0px;
}

.content_div{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.register_login{
    margin-left: 10px;
    background-color: rgb(230, 230, 240);
    padding: 10px;
    width: 30vw;
    
}

.labelSelect{
    border: 1px solid black;
    display: inline-block;
    width: 49%;
    text-align: center;
    padding: 5px 0px;
    cursor: pointer;
}

.input_box{
    padding: 10px 0px;
    margin: 12px 0px;
}
.input_box label{
    margin-right: 5px;
}
.input_box input{
    border:none;
    border-bottom: 1px solid black;
    width: 50%;
    background: none;
    outline: none;
}

.action_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.action_btn input{
    padding: 10px 20px;
    cursor: pointer;
    background-color: green;
    color:white;
    border:none;
    outline: none;
}

#currentSelected{
    background-color: rgb(53, 43, 191);
    color: white;
}

#group_px img{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.sizer{
    width: 50%;
}

@media screen and (max-width:850px) {
    .wrapper_div{
        width: 80%;
    }
    
}

@media screen and (min-height:1000px) and (min-width:1500px) {
    .register_login {
        padding: 50px;
    }
}

@media screen and (max-height:450px) {
    .container_div{
        height: 120vh;
    }
    .container_div>h1{
        font-size: 24px;
    }
    .wrapper_div>h2{
        font-size: 20px;
    }
    .input_box{
        margin: 0px;
    }
    footer{
        padding: 10px 0px;
    }
}

@media screen and (max-height:350px) {
    .container_div>h1{
        margin:5px 0px;
}
}

@media screen and (max-width:600px) and (orientation:portrait) {
    .wrapper_div{
        width: 90%;
    }
    .wrapper_div h2{
        font-size: 5.5vw;
    }
    .wrapper_div h2 img{
        display: inline-block;
        width: 6vw;
        height: 6vw;
    }
    .container_div>h1{
        font-size: 6vw;
    }
    
}

@media screen and (max-width:600px) and (orientation:landscape) {
    .wrapper_div{
        width: 90%;
    }

    .wrapper_div h2{
        font-size: 3.5vw;
    }
    .container_div>h1{
        font-size: 4vw;
    }
    
}

@media screen and (orientation:portrait) {
    .content_div{
        flex-direction: column;
    }
    .register_login{
        margin-left: 0px;
    }
    .sizer{
        width: 85%;
    }
}

@media screen and (min-height:1000px) and (orientation:portrait) {
    .wrapper_div{
        justify-content: center;
    }
    
}

@media screen and (max-height:800px) and (orientation:portrait) {
    .wrapper_div{
        height: 80%;
    }
}

@media screen and (max-height:300px) {
    .container_div{
        height: 120vh;
    }
}