.vote-completed{
    background-color: var(--color-background-black);
    cursor: not-allowed;
}

.voted-for{
color: var(--color-button-lime-rect-positive);
}

.voted-against{
color: var(--color-button-lime-rect-negative);
}