.flex-horz {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-vert {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-horz-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-vert-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.flex-horz-sa {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-vert-sa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.flex-horz-fs{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-vert-fs{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.block{
    display: block;
}

.inline{
    display: inline;
}

.section {
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}